* {
    color: #000000;
}

header,
#sectionFive,
#sectionTen {
    background-color: #41c3a3;
}

#sectionOne,
#sectionSix,
#closingSection {
    background-color: #c38d9e;
}

#sectionTwo,
#sectionSeven {
    background-color: #e8a87c;
}

#sectionThree,
#sectionEight {
    background-color: #85dcba;
}

#sectionFour, 
#sectionNine {
    background-color: #e27d60;
}

button:hover,
button:focus,
button:focus-within {
    background-color: #000000;
    color: #ffffff;
}

.answerOneButtons p,
.answerTwoButtons p,
.closingButtons p {
    color: #043f04;
}

.answerOneButtons span,
.answerTwoButtons span,
.closingButtons span {
    color: #690b13;
}

footer p {
    color: #ffffff;
}

footer {
    background-color: #000000;
}