@import 'setup';
@import 'colours';

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
}

header {
    height: calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    text-align: center;
    padding: 0 20px;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 120px;
    margin: 0 auto;
}

header h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    margin: 0 auto;
}

button {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;
    min-width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 10px 0;
}

header button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 20px auto;
}

header img {
    width: 140px;
    margin: 20px auto 10px auto;
}

section p {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.chonkLeft,
.chonkRight {
    display: flex;
    padding: 80px;
}

.chonkLeft {
    justify-content: left;
}

.chonkRight {
    flex-direction: row-reverse;
    justify-content: right;
}

.image {
    width: 500px;
    min-width: 400px;
}

.questions {
    width: 30%;
    margin: 0 5%;
}

.answerOneButtons,
.answerTwoButtons {
    margin-bottom: 30px;
}

.answerOneButtons p,
.answerTwoButtons p,
.closingButtons p {
    font-weight: 400;
}

.yesButton {
    margin-right: 20px;
}

#closingSection {
    min-height: 100vh;
}

.closingQuestion {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closingButtons {
    margin: 20px auto;
}

.closingButtons img {
    width: 500px;
    min-width: 400px;
    margin: 20px auto;
}

.closingButtons p {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}

// Responsive design begins here

@media (max-width: 940px) {
    header {
        height: 100vh;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 30px;
    }

    button {
        padding: 20px;
    }

    header button {
        font-size: 26px;
        padding: 20px;
    }

    header img {
        width: 100px;
        margin: 20px auto 10px auto;
    }

    .image {
        width: 100%;
        max-width: 500px;
        min-width: auto;
    }

    .questions {
        width: auto;
        padding-top: 40px;
        text-align: center;
    }

    .chonkLeft,
    .chonkRight {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }

    #closingSection {
        min-height: calc(100vh - 42px);
    }

    .closingButtons img {
        width: 100%;
        max-width: 500px;
        min-width: auto;
    }

    footer {
        position: static;
    }

    footer p {
        font-size: 18px;
    }
}