@import 'setup';
@import 'colours';

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
    // border: 1px solid #ffffff;
}

header {
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerText {
    text-align: center;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 120px;
    margin: 0 auto;
}

header h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 60px;
    margin: 0 auto;
}

button {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 24px;
    min-width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 10px 20px 10px 0;
}

header button {
    font-size: 30px;
    padding: 10px 20px;
    margin: 20px auto;
}

header img {
    width: 140px;
    margin: 20px auto 10px auto;
}

section p {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.chonkLeft,
.chonkRight {
    display: flex;
    padding: 80px;
}

.chonkLeft {
    justify-content: left;
}

.chonkRight {
    flex-direction: row-reverse;
    justify-content: right;
}

.image {
    width: 500px;
    min-width: 400px;
}

.questions {
    width: 30%;
    margin: 0 5%;
}

.answerOneButtons,
.answerTwoButtons {
    margin-bottom: 30px;
}

.answerOneButtons p,
.answerTwoButtons p,
.closingButtons p {
    font-weight: 400;
}

#closingSection {
    min-height: 100vh;
}

.closingQuestion {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closingButtons {
    margin: 20px auto;
}

.closingButtons img {
    width: 500px;
    min-width: 400px;
    margin: 20px auto;
}

.closingButtons p {
    margin-bottom: 20px;
}

footer {
    height: 40px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
}